<% layout('layouts/boilerplate') %>

<div class="row">
    <% for (let product of products) { %>
        <div class="col-lg-4 mb-3">
            <div class="card mx-auto shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <img src="<%= product.img %>" class="card-img-top" alt="<%= product.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.desc.substring(0,50) %>...</p>
                  <h5 class="card-title">$<%= product.price %></h5>
                  <a href="/products/<%= product._id %>" class="btn btn-primary" style="background-color: #9ef01a; border-color: white;">Buy now</a>
                </div>
              </div>
        </div>
    <% } %>
    
</div>